@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

body {
  overflow-x: hidden;
}

.commit-content-container {
  display: flex;

  @media all and (max-width: $screen-md-min) {
    flex-direction: column;
  }
}

.commit-locations {
  margin: 40px 0;

  .commit-location {
    position: relative;
    background-size: cover;
    color: $color-white;
    width: 100%;
    border-radius: $border-radius-large;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;

    h3, p {
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $color-transparent-alt-darken;
    }
  }
}

.commit-content {
  padding-right: 50px;
  width: 100%;

  @media all and (max-width: $screen-md-min) {
    padding-right: 0;
  }
}

.commit-speakers-container {
  display: flex;
  width: 100%;
  margin-top: 30px;

  .speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;

    &:not(:first-child) {
      margin-left: 30px;
    }

    img {
      padding: 12px;
      border-radius: $border-radius-circle;
      width: 120px;
      height: 120px;
    }

    p {
      color: $color-gray;
      font-size: 16px;
    }
  }
}

.speaker-container {
  display: flex;

  .speaker-topic {

    p {
      font-weight: 600;
      font-size: 32px;

      a {
        font-weight: 600;
        font-size: 32px;
      }
    }
  }

  &:not(:first-child) {
    margin-top: 50px;
  }

  .speaker-name {
    color: $color-gray;
  }

  .speaker-image-container {
    border-radius: $border-radius-circle;
    width: 160px;
    height: 160px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 40px;

    @media all and (max-width: $screen-sm-min) {
      margin-right: 0;
      margin-bottom: 40px;
    }

  }

  .speaker-time-place {

    .spacer {
      margin: 0 10px;

      @media all and (max-width: $screen-sm-min) {
        display: none;
      }

    }

    @media all and (max-width: $screen-sm-min) {
      flex-direction: column;
      margin-bottom: 20px;

      p {
        margin: 0;
      }

    }

  }

  @media all and (max-width: $screen-sm-min) {
    flex-direction: column;
  }

}

.event-logo {
  height: 70px;
  margin-bottom: 30px;
}

.blank-header:not(.commit-header) {
  padding: 80px 20px;
  padding-bottom: 160px;
  background-size: cover;
  position: relative;

  .header-content {
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $modal-overlay-color;
  }
}

.gitlab-content-container:not(.commit-content-container) {
  padding-top: 0;
  transform: translateY(-100px);
}

.event-details {
  display: flex;
  align-items: flex-start;

  .tile-content {
    padding: 0 20px;

    @media all and (max-width: $screen-md-min) {
      padding: 0 20px;
    }

    @media all and (max-width: $screen-sm-min) {
      padding: 40px 0;
    }

  }

  .tile-content:not(:first-child) {
    border-left: 1px solid $color-gray-extra-light;

    @media all and (max-width: $screen-sm-min) {
      border-left: 0;
      border-top: 1px solid $color-gray-extra-light;
    }

  }

  @media all and (max-width: $screen-sm-min) {
    flex-wrap: wrap;
    padding: 0 40px;
  }

}

.event-form-container {
  width: 380px;
  flex-shrink: 0;
  overflow: hidden;
  margin-left: 80px;

  .browser-render {
    font-size: 13px;
  }

  @media all and (max-width: $screen-md-min) {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
  }

}

.body-content {
  width: 100%;

  h3:first-child {
    margin-top: 0;
  }

}
